<div class="container-fluid">
        <app-header></app-header>
    </div>
    
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Karul Website</h3>
                <h4>Login</h4>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="example@example.com" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            <div *ngIf="!f.password.errors.required && !f.password.errors.minlength" >Password must have Uppercase Lowercase and Number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table>
                            <tr>
                                <td><button class="btn btn-primary">Login</button></td>
                                <td><a class="btn btn-info" (click)="resetPassword()" >Reset Password</a></td>
                                <td><button class="btn btn-warning" routerLink="/register" >Register</button></td>
                            </tr>
                        </table>
                        
                    </div>
                </form>

                <form>
                    <table class="table table-responsive table-borderless" [hidden]="restPassHidden" >
                        <tr>
                            <td><input type="email" class="form-control" placeholder="Enter your email id" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" ></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-primary" (click)="sendResetEmail()">Send Reset Link</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid">
      Version 1.0
  </div>

  <app-popupmodel></app-popupmodel>