
<div class="container feedback">
    <table class="table table-responsive table-borderless table-info">
      <tr>
        <td>Any Feedback?</td>
        <td class="x" (click)="close()">X</td>
      </tr>
      <tr>
        <td><textarea name="" id="" cols="30" rows="5" class="form-control" ></textarea></td>
      </tr>
      <tr>
        <td><input type="text" name="" id="" class="form-control" ></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary">Send</button></td>
      </tr>
    </table>
</div>